
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body{
    display: flex;
    width: 100vw; 
    height: 100vh;
    flex-direction: column; 
    justify-content: center;
    align-items: center;    
    }  

    header{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center; 
    }


    main{
    flex-grow: 1;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
    position: static;
    padding-top: 10x;    
    } 

    button{
    width: 100px; 
    height: 40px;
    cursor: pointer; 
    } 

    footer{
    height: 50px;
    justify-content: center;
    align-items: flex-start;
    }

    img{
        cursor: pointer;
    }
    
     
    